:root {
  --bg-color: black;
  --text-color: #fff;
  --scondary-text: #b0b0b0;
}
[data-theme= "light"] {
  --bg-color: white;
  --text-color: black;
  --secondary-text: #555;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
//body
 body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Avenir Next", Avenir, "Helvetica Neue", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

// Hero section

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: var(--bg-color);
}

.hero-title {
  font-size: 6rem;
  font-weight: 600;
  color: var(--text-color);
}
.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-color);
}

/// Home Section (Full-Screen)
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--bg-color);
  transition: background-color 0.1s ease-in-out;
}

// Slideshow Section (Full-Screen)
.project-slideshow-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.1s ease-in-out;
  overflow-x: hidden;
}

// Slideshow Inversion Based on Theme
[data-theme="dark"] .project-slideshow-section {
  background-color: white;
  color: black;
}

[data-theme="light"] .project-slideshow-section {
  background-color: black;
  color: white;
}

// Slideshow Container
.project-slideshow {
  width: 90%;
  max-width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

// Image Wrapper to Prevent Overflow
.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Slideshow Image - Scaled Properly
.slideshow-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 20px;
  object-fit: contain;
  transition: opacity 1s ease-in-out;
}

// Slideshow Title
.slideshow-title {
  position: absolute;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--seconday-color);
  padding: 10px 20px;
  margin-bottom: 500px;

}

//Navbar section
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--bg-color);
  z-index: 1000;
  transition: 0.1s ease-in-out;
}
// Navbar links  + toggle bar
.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 100px;
  gap: 15px;
}

.logo {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--text-color);
}

.navbar-links a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
  transition: color 0.1s ease;
}

.navbar-links a:hover {
  color: gray;
}

// Parallax section
.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
}

// Theme Toggle Button

.theme-toggle {
  background: none !important;
  box-shadow: none !important;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;

  &:hover{
    transform: scale(1.1);
  }

  .theme-icon {
    width: 28px;
    height: 28px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

}

.theme-transition {
  transition: ba;
}

// Theme Toggle Icon Animation
.theme-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  opacity: 1;
  transition: opacity 0.1s ease-in-out, transform 0.4s ease-in-out;
}

// Hide the inactive  icon smoothly
[data-theme = "dark"] .theme-icon.sun {
  opacity: 0;
  transform: scale(0.8) rotate(180deg);
}

[data-theme = "light"] .theme-icon.moon {
  opacity: 0;
  transform: scale(0.8) rotate(-180deg);
}

// Active icon smoothly appears
[data-theme ="dark"] .theme-icon.moon {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

[data-theme="light"] .theme-icon.sun {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

// Parallax containers - sections & project

.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color);
  opacity: 0;
  transform: translateY(50px);
}


// Ensure active project is visible
.projects .projects-container {
  opacity: 1;
  transform: translateY(0);
}

//Text for title and description

.project-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 10px;
}

.project-description {
  font-size: 1.2rem;
  color: var(--secondary-text);
  margin-bottom: 20px;
}


// About Page
.about-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.1s ease-in-out;
}

//Bio Section
.bio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 50px 40px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.1s ease-in-out;
}

.bio-container {
  display: flex;
  align-items: flex-start;
  max-width: 1000px;
  gap: 50px;
}

.bio-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.flag {
  width: 20px;
  height: 15px;
  margin: 0 5px;
  object-fit: cover;
}
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.profile-info {
  max-width: 600px;
}

.university-logo {
  width: 150px;
  padding: 50px;
}

// Right side: Education & Bio
.bio-right {
  flex: 1;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
}

.bio-right h2 {
  font-size: 2rem;
  margin-bottom: -15px;
}

.bio-right p {
  font-size: 1.2rem;
  line-height: 1.6;
}
// Work Experience Section
.work-experience{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.work-title {
  position: absolute;
  top: 50px;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
}

// bg inversion
[data-theme = "dark"] .work-experience {
  background-color: white;
  color: black;
}
[data-theme="light"] .work-experience {
  background-color: black;
  color: white;
}


.timeline-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline {
  display: flex;
  gap: 50px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.timeline-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;

}

.timeline-content {
  text-align: left;
}

.date {
  font-size: 0.9rem;
  color: var(--secondary-text);
}


// Spotify Action
.spotify-section {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
}

.spotify-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.spotify-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 150px;
}

.spotify-artist-img,
.spotify-track-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.spotify-item h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.spotify-item p {
  font-size: 0.9rem;
  color: var(--secondary-text);
}
//Thank you section

.thank-you {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
}

.thank-you h2{
  display: flex;
  font-weight: 600;
  font-size: 2.1em;

}
//Contact
.contact-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10em 2rem;
  display: flex;
  justify-content: center;
  transition: 0.1s ease-in-out;
}

.contact-container {
  max-width: 700px;
  width: 100%;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 60;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-description {
  font-size: 1rem;
  margin-bottom: 3rem;
  color: grey;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-color);
}

.form-group input,
.form-group textarea {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid grey;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.1s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: var(--secondary-color);
  transition: 0.1s ease-in-out;
}

.submit-button {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.75rem 2rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 8px;

}

.submit-button:hover {
  transform: scale(1.05);
}


// Footer
.footer {
  height: 80px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  transition: 0.1s ease-in-out;
}


.footer-links {
  display: flex;
  gap: 20px;
}

//social links

.linkedin-icon {
  width: 32px;
  height: 28px;
}

.github-icon {
  width: 30px;
  height: 30px;

}
.spotify-icon {
  width: 30px;
  height: 30px;
}

//portfolio
.portfolio-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--text-color);
}

.portfolio-title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 10rem;

}

.portfolio-subtitle {
  color: var(--secondary-text);
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* 🟢 Expandable Sections */
.portfolio-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 0;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", "Helvetica Neue", sans-serif;
  font-weight: 200;
  background: none;
  border: none;
  color: var(--text-color);
  text-align: left;
  cursor: pointer;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.portfolio-header:hover {
  opacity: 0.7;
  color: #C4B1D8;
  scale: (1.1);
}
.portfolio-header .project-title {
  font-weight: 400;
}

/* 🟢 Expandable Content */
.portfolio-details {
  margin-top: 1rem;
  padding-left: 1rem;
  color: var(--secondary-text);
  justify-content: center;
  font-size: 1.2rem;
  animation: fadeIn 0.3s ease-in-out;
}

.portfolio-video {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.portfolio-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.portfolio-links a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


// Watermark
.watermark {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.navbar-mobile{
  display: none;
}
.hamburger {
  display: none;
}

//Responsive media
@media (max-width: 768px) {


  .logo {
    font-size: 1.8rem;
  }


  .navbar-links a {
    font-size: 1rem;
    margin: 0 10px;
  }

  /* Home Section */
  .hero-title {
    font-size: 4rem;
  }
  .hero-subtitle {
    font-size: 1.2rem;
  }

  .thank-you {
    padding: 40px;
  }
  .thank-you h2{
    font-size: 1.2em;

  }

  /* Slideshow Section */
  .project-slideshow {
    height: 250px;
    max-width: 100%;
  }

  .image-wrapper {
    height: 100%;
  }

  /* Bio Section */
  .bio-section {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    padding: 40px;
    height: auto;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .bio-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  .profile-photo {
    width: 140px;
    height: 140px;
  }
  .university-logo {
    width: 100px;
  }

  .bio-right h2 {
    text-align: center;

  }

  /* Work Experience */
  .work-experience {
    padding: 20px;
    height: auto;
  }

  .work-experience h2 {
    display: none;
  }

  .timeline {
    flex-direction: column;
  }

  .timeline-image {
    height: 200px;
  }

  /* Portfolio Section */
  .portfolio-title {
    font-size: 2.5rem;
  }

  .portfolio-header {
    font-size: 1.2rem;
    align-items: center;
    justify-content: right;

  }

  .portfolio-list {
    padding: 10px;
  }

  .portfolio-details {
    font-size: 1rem;
  }

  .portfolio-video {
    max-width: 100%;
  }

  /* Spotify Section */
  .spotify-grid {
    gap: 10px;
  }

  .spotify-item {
    width: 120px;
  }

  .spotify-artist-img,
  .spotify-track-img {
    width: 80px;
    height: 80px;
  }

  /* Contact Section */
  .contact-section {
    padding: 2rem;
    height: auto;
    margin-top: 100px;
  }

  .contact-container {
    padding: 0;
  }

  /* Footer */
  .footer {
    padding: 10px 20px;
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (max-width: 480px) {

  .body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navbar-links a {
    font-size: 0.8rem;
    margin: 0 5px;
  }

  /* Home Section */
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }

  /* Bio Section */
  .bio-section {
    padding: 20px;
    height: auto;
  }

  .bio-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .bio-left {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .profile-photo {
    width: 100px;
    height: 100px;
  }

  .university-logo {
    width: 80px;
  }

  /* Work Experience */
  .work-experience {
    padding: 10px;
  }

  .timeline-image {
    height: 150px;
  }

  /* Contact Section */
  .contact-section {
    padding: 1rem;
  }

  /* Spotify Section */
  .spotify-item {
    width: 100px;
  }
  .spotify-artist-img,
  .spotify-track-img {
    width: 60px;
    height: 60px;
  }

  /* Footer */
  .footer {
    padding: 10px;
    gap: 5px;
    flex-direction: column;
  }
}